[submodule "libs/tomlplusplus"]
	path = libs/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "libs/argparse"]
	path = libs/argparse
	url = https://github.com/p-ranav/argparse.git
